<div class='navbar container-flex d-flex justify-content-center'>
    <div class="col-10 d-flex align-items-center justify-content-between">
        <div class='page-title'>
            <h4>Neuronauta</h4>
            <p class='text-muted'>(coming soon&trade;) </p>
        </div>
        <div class='d-flex flex-wrap align-items-center justify-content-center'>
            <p class='controls'>W A S D <span class='text-muted'>to explore</span></p> &middot;<p> Q E <span class='text-muted'>to ascend/descend</span></p> &middot; <p>Click & Drag <span class='text-muted'>to look around</span></p>
        </div>
        <!-- <ul class="nav"> -->
        <!--     <li class="nav-item"> -->
        <!--         <a class="nav-link" href="#">Link</a> -->
        <!--     </li> -->
        <!--     <li class="nav-item"> -->
        <!--         <a class="nav-link" href="#">Link</a> -->
        <!--     </li> -->
        <!--     <li class="nav-item"> -->
        <!--         <a class="nav-link" href="#">Another link</a> -->
        <!--     </li> -->
        <!--     <li class="nav-item"> -->
        <!--         <a class="nav-link disabled" href="#">Disabled</a> -->
        <!--     </li> -->
        <!-- </ul> -->
    </div>
</div>
